*               { font-family: 'Open Sans',Arial,sans-serif;}
html,body            {
    background: #ffffff;
    width: 100%;
    height: 100%;}
b               {font-weight: bold}
.link           {float: left; text-decoration: none; font-size: 12px}
.left           {float: left}
.right          {float: right}
.clear          {clear: both;}

.color                  {color: #0AA!important;}
.background-color       {background-color: #0AA!important;}
.background-color-trans {background-color: rgba(0,170,170,0.8)!important;}
.background-color-darker{background-color: #00A2A2!important;}
.border-color           {border-color: #0AA!important;}
.border-left-color      {border-left-color: #0AA!important;}
.border-top-color       {border-top-color: #0AA!important;}
.border-color-darker{   border-color: #00A2A2!important;}

::selection {
    background: #0AA;
    color: #FFFFFF;
}


#page_wrap {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: relative;
    overflow: hidden;
}

/**
  * LEFT SIDE/MENU COLUMN STARTS *
  *                              **/
header{
    width: 200px;
    height: 100%;
    background: #616161;
    float: left;
}

#logo{
    display : block;
    padding : 48px 40px;
}

nav{
    width: 100%;
    height: 100%;
}

#menu{
    float: left;
}

#menu li{
    display: block;
    float: left;
    position: relative;
    width: 100%;
    border-bottom:solid #a1a1a1;
}
#menu li:last-child{
    border-bottom:none;
}

.menu-specs{
    position: relative;
    float: left;
    z-index: 1;
    padding: 20px 0 20px 0;
}

#menu li a, #menu li span{
    z-index: 2;
}

.menu-abs-bg{
    position: absolute;
    height: 100%;
    width: 0;
    right: 0;
    top: 0;
    z-index: 1;
    -webkit-transition: width ease 0.5s;
    -moz-transition: width ease 0.5s;
    -ms-transition: width ease 0.5s;
    -o-transition: width ease 0.5s;
    transition: width ease 0.5s;
}

#menu li:hover .menu-abs-bg{
    width: 110%;
}

#menu li .menu-specs a{
    display: block;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#menu li .menu-specs span{
    display: block;
    font-size: 12px;
    color: rgb(190, 190, 190);
}

#menu li:hover .menu-specs span{
    color: #ffffff;
}

#menu li.active-menu-item .menu-specs span{
    color: #ffffff;
}


.rightSide {
    float: left;
    width: auto;
    height: 100%;
}

.search-and-misc{
    width: 100%;
    height: 80px;
    position: absolute;
    background: #616161;
}

.search-form{
    width: 210px;
    height: 30px;
    margin:2% 35%;
    background: url('img/search-box.png');
}

.search-text{
    display: block;
    width: 155px;
    height: 10px;
    border: none;
    background: none;
    font-size: 12px;
    line-height: 30px;
    padding: 10px;
}

.search-submit{
    display: block;
    width: 55px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 999;
}

#welcome{
    margin: 20% 35%;
    float: left;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    position: absolute;
}
/**
  * LEFT SIDE/MENU COLUMN ENDS *
  *                            **/

.cardno{
    width: 500px;
}

.payway{
    width: 500px;
}