{% extends "index.html" %}

{% block title %}卡bin 查询{% endblock %}

{% block content %}
<div class="cardbin">
    {% if form.errors %}
        <p style="color: red;">
            输入错误：{{ form.errors }} 
        </p>
    {% endif %}
        <form class="cb-search-form" action="" method="post">
            <table class="cb-search-table">
                {{ form.as_table }}
            </table>
            <input type="submit" value="查询" class="cb-search-submit"> 
        </form>
    <table class="cb-table">
        <tr class="cb-th">
            <th>卡bin</th>
            <th>卡号位数</th>
            <th>卡类型</th>
            <th>发bin状态</th>
            <th>发卡行</th>
            <th>发卡行简称</th>
            <th>卡组织</th>
            <th>发卡国</th>
        </tr>
        <tr class="cb-td">
        {% for cardbin in cb %}
            <td> {{ cardbin.cardbin }} </td>
            <td> {{ cardbin.cardnolen }} </td>
            <td> {{ cardbin.cardtype }} </td>
            <td> {{ cardbin.status }} </td>
            <td> {{ cardbin.bankname }} </td>
            <td> {{ cardbin.bankabbname }} </td>
            <td> {{ cardbin.associations }} </td>
            <td> {{ cardbin.country }} </td>
        {% empty %}
        <p style="color: red;">
            {{ error  }} 
        </p>
        {% endfor %}
        </tr>
    </table>
</div>
{% endblock %}