<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Metro | Creative Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- <script src="js/jquery.js"></script> -->
	<link rel='icon' href='css/img/favicon.ico' type='image/ico' />

    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="js/ie.js"></script>
    <![endif]-->

    <!-- Le styles -->
    
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/nivo.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/custom_colors.html" rel="stylesheet">
</head>

<body>

<div id="page_wrap">

    <header>

        <div class="logo-container">

            <a id="logo" title="Metro Creative Design" href="index.html"><img src="css/img/logo.png" alt="Metro Creative Design"></a>

        </div><!-- Logo Side ENDS -->

        <nav>

            <ul id="menu">
                <li>
                    <div class="menu-abs-bg background-color"></div>
                    <div class="home-icon menu-specs">
                        <a href="#home" title="Home Page">Home</a>
                        <span>Lorem Ipsum Dolor Sit Amet</span>
                    </div>
                    <!-- <ul>
                        <li><div class="sub-menu-bg background-color"></div><a href="index.html">Metro Slider</a></li>
                        <li><div class="sub-menu-bg background-color"></div><a href="index-normal-slider.html">Normal Slider</a></li>
                    </ul> -->
                </li>
                <li>
                    <div class="menu-abs-bg background-color"></div>
                    <div class="aboutus-icon menu-specs">
                        <a href="#about" title="About Us">About</a>
                        <span>Praesent volutpat turpis</span>
                    </div>
                    <!-- <ul>
                        <li><div class="sub-menu-bg background-color"></div><a href="aboutus.html">About Us</a></li>
                        <li><div class="sub-menu-bg background-color"></div><a href="headers.html">Headers</a></li>
                        <li><div class="sub-menu-bg background-color"></div><a href="columns.html">Columns</a></li>
                        <li><div class="sub-menu-bg background-color"></div><a href="shortcodes.html">Shortcodes</a></li>
                    </ul> -->
                </li>
                <li>
                    <div class="menu-abs-bg background-color"></div>
                    <div class="services-icon menu-specs">
                        <a href="services.html" title="Our Services">Services</a>
                        <span>Morbi tincidunt justo sed</span>
                    </div>
                </li>
                <li>
                    <div class="menu-abs-bg background-color"></div>
                    <div class="portfolio-icon menu-specs">
                        <a href="#portfolio" title="Our Products">Portfolio</a>
                        <span>Aliquam pharetra rutrum</span>
                    </div>
                    <!-- <ul>
                        <li><div class="sub-menu-bg background-color"></div><a href="portfolio.html">Portfolio Style 1</a></li>
                        <li><div class="sub-menu-bg background-color"></div><a href="portfolio-full-images.html">Portfolio Style 2</a></li>
                        <li><div class="sub-menu-bg background-color"></div><a href="portfolio-with-texts.html">Portfolio Style 3</a></li>
                        <li><div class="sub-menu-bg background-color"></div><a href="portfolio-details.html">Portfolio Detail</a></li>
                        <li><div class="sub-menu-bg background-color"></div><a href="portfolio-details-slider.html">Portfolio With Slider</a></li>
                        <li><div class="sub-menu-bg background-color"></div><a href="portfolio-details-vimeo.html">Portfolio With Vimeo</a></li>
                        <li><div class="sub-menu-bg background-color"></div><a href="portfolio-details-youtube.html">Portfolio With Youtube</a></li>
                    </ul> -->
                </li>
                <!-- <li>
                    <div class="menu-abs-bg background-color"></div>
                    <div class="blog-icon menu-specs">
                        <a href="blog.html" title="Articles From Us">Blog</a>
                        <span>Vivamus sagittis nibh</span>
                    </div>
                </li>
                <li>
                    <div class="menu-abs-bg background-color"></div>
                    <div class="contact-icon menu-specs">
                        <a href="contactus.html" title="Keep In Touch">Contact</a>
                        <span>Quisque sed felis eu turpis</span>
                    </div>
                </li> -->
            </ul><!-- Menu ENDS -->

        </nav><!-- Nav ENDS -->

        <div class="search-and-misc">

            <form method="post" action="http://www.yuin.us/themes/metro/index.html" class="search-form">

                <input type="text" name="search" placeholder="Search..." required="" class="search-text">
                <input type="submit" value=" " class="search-submit">

            </form>

            <!-- <div class="text margin-tb-20">

                More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>

                <a href="#" class="side-social vimeo"></a>
                <a href="#" class="side-social twitter"></a>
                <a href="#" class="side-social facebook"></a>

            </div> -->

        </div>

    </header><!-- Left Side ENDS -->

    <!-- <div id="subLevel" class="border-color background-color">

        <div id="opener" class="border-left-color border-top-color"><div class="opener-plus"></div></div>
        <ul id="home">
            <li><a class="border-color-darker" href="index.html">Metro Slider</a></li>
            <li><a class="border-color-darker" href="index-normal-slider.html">Normal Slider</a></li>
        </ul>
        <ul id="about">
            <li><a class="border-color-darker" href="aboutus.html">About Us</a></li>
            <li><a class="border-color-darker" href="headers.html">Headers</a></li>
            <li><a class="border-color-darker" href="columns.html">Columns</a></li>
            <li><a class="border-color-darker" href="shortcodes.html">Shortcodes</a></li>
        </ul>
        <ul id="portfolio">
            <li><a class="border-color-darker" href="portfolio.html">Portfolio Style 1</a></li>
            <li><a class="border-color-darker" href="portfolio-full-images.html">Portfolio Style 2</a></li>
            <li><a class="border-color-darker" href="portfolio-with-texts.html">Portfolio Style 3</a></li>
            <li><a class="border-color-darker" href="portfolio-details.html">Portfolio Detail</a></li>
            <li><a class="border-color-darker" href="portfolio-details-slider.html">Portfolio With Slider</a></li>
            <li><a class="border-color-darker" href="portfolio-details-vimeo.html">Portfolio With Vimeo</a></li>
            <li><a class="border-color-darker" href="portfolio-details-youtube.html">Portfolio With Youtube</a></li>
        </ul>

    </div>Sub Level ENDS -->

    <div class="rightSide">

        <div class="row">

            <div class="twelve columns">

                <div class="announce announce-icon">This theme was shared on <span class="color"><a href="http://www.cssmoban.com" class="color">MafiaShare</a></span>. More premium templates and scripts for free at <a href="http://www.cssmoban.com" class="color">MafiaShare</a></div>
            </div>

        </div><!-- Site Heading Title ENDS -->
</body>
</html>